/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: #000028;
  color: #F1B2CE;
}



.theme-dark .title {

  color: #DB00FF;
  text-shadow: 4px 4px 0px #FF0070;
}

.theme-dark .header__theme-menu-button {
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  padding: 2px 13px;
  color: #FF0070;
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.theme-dark header {
  background-image: url('../images/cover-image-dark.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.theme-dark .subtitle p {
  background-color: #FF0070;
  color: #000028;

}

.theme-dark .content-title {
  background-color: #FF0070;
  color: #000028;

}

.theme-dark .content-title2 {
  background-color: #FF0070;
  color: #000028;
}

.theme-dark .links {
  text-shadow: 2px 2px 0px #FF0070;
}

.theme-dark .title2 {
  color: #FF0070;
}


.theme-dark .decorated-zone::before {

  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;

}

.theme-dark .decorated-zone::after {

  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}


.theme-dark .footer::before {

  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;

}

.theme-dark .footer::after {

  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}


.theme-dark span {
  font-size: 18px;
  color: #FF0070;
  position: absolute;
  top: 20px;
  right: 48px;
}

.theme-dark .rec::before {
  content: '';
  position: absolute;
  top: 28px;
  right: 29px;
  width: 9px;
  height: 9px;
  background-color: #FF0070;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 0, 112, 1);
}
.theme-dark .rec span{
  display: block;
}
 