/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: #FFF1F7;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: #FFF1F7;
}
.theme-light  .title{
 
  color: #FFC2E6; 
  text-shadow: 4px 4px 0px #FF8DCB;
}
.theme-light header{
  background-image: url('../images/cover-image-light.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.theme-light .subtitle p{
  background-color: #FF8DCB;

}
.theme-light .content-title{
  background-color: #FF8DCB;

}
.theme-light .content-title2{
  background-color: #FF8DCB;
}
.theme-light .links{
  text-shadow: 2px 2px 0px #FF8DCB;
}
