/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #FF8DCB;
  --acent: #FFC2E6;
  --text-color: #353430;
  --fon: #FFF1F7;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--fon);
  color: var(--text-color);
}

.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--text-color);
}

.theme-light .title {
  color: var(--acent);
  text-shadow: 4px 4px 0px var(--main-color);
}

.theme-light header {
  background-image: url('../images/cover-image-light.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.theme-light .subtitle p {
  background-color: var(--main-color);
  color: var(--text-color);
}

.theme-light .content-title {
  background-color: var(--main-color);
  color: var(--text-color);

}

.theme-light .content-title2 {
  background-color: var(--main-color);
  color: var(--text-color);
}

.theme-light .links {
  text-shadow: 2px 2px 0px var(--main-color);
}

.theme-light .title2 {
  color: var(--text-color);
}


.theme-light .decorated-zone::before {


  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);

}

.theme-light .decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 19px;
  left: 20px;
  width: 25px;
  height: 25px;
  border: none;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.theme-light .footer::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);

}

.theme-light .footer::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.rec {
  display: none;
}