/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex mono', sans-serif;
  background-attachment: fixed;
  width: 1024px;
    background-color: #FFF1F7;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  padding: 2px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.header__theme-menu-button_active {
  border: 1px solid black;
}

.header__theme-menu-button:focus {
  text-decoration: underline;
}

.header {
  margin-bottom: 60px;
  background-image: url('../images/cover-image-light.png');
  background-repeat: no-repeat;
  height: 768px;
  background-position: center center;
  background-size: cover;
  padding: 20px;
}

.header__theme-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.title {
  font-size: 157px;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: bold;
  font-display: swap;
  margin-top: 273px;
  margin-bottom: 114px;
    color: #FFC2E6;
  text-shadow: 4px 4px 0px #FF8DCB;
}

.subtitle p {
  width: 497px;
  font-weight: bold;
  font-size: 18px;
  display: block;
  background-color: #FF8DCB;
}

.subtitle {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 135px;

}

/*  */

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.content-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #FF8DCB;
}

.content-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.section_ {
  margin-top: 60px;
  margin-bottom: 80px;
  padding: 20px;
}

.section_ .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.title2 {
  font-size: 18px;
}

.section_ .title2 {
  margin-bottom: 20px;


}

.content-title2 {
  margin-bottom: 10px;
  background-color: #FF8DCB;
}

/* gallary */
.galery {
  padding: 20px;
}

.galerry_content {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: repeat(3, 315px);
  gap: 20px;

}

.item1_img {
  grid-column: span 2;

  background-image: url('../images/sunset.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.item2_img {
  grid-row: span 2;
  background-image: url('../images/ice-cream.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.item3_img {
  grid-row: span 2;
  background-image: url('../images/tape.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.item4_img {

  background-image: url('../images/books.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.item5_img {
  grid-column: span 2;
  background-image: url('../images/street.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* 
footer */
.footer .title {

  text-align: center;
  margin: auto auto;

  align-items: center;
  margin-top: 319px;

}

.footer {
  padding: 0 20px;
  height: 768px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  height: 0;
  border-style: solid;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border: none;
  border-top: 1px solid #353430;
  border-right: 1px solid #353430;

}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 105px;
  left: 20px;
  width: 25px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #353430;
  border-left: 1px solid #353430;
}

.footer::before,
.footer::after {
  content: '';
  position: fixed;
  height: 0;
  border-style: solid;
}

.footer::before {
  content: '';
  position: absolute;
  top: 4425px;
  right: 20px;
  width: 25px;
  height: 25px;
  border: none;
  border-top: 1px solid #353430;
  border-right: 1px solid #353430;

}

.footer::after {
  content: '';
  position: absolute;
  bottom: -4324px;
  left: 20px;
  width: 25px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #353430;
  border-left: 1px solid #353430;
}

.links {
  text-decoration: none;
  font-family: 'IBM Plex mono', sans-serif;
  text-shadow: 2px 2px 0px #353430;
  text-shadow: 2px 2px 0px #FF8DCB;
}

.links:hover {
  text-decoration: underline;
}

.links:focus {
  border: 1px solid #353430;
}
.rec span{
  display: none;
}
 
